body {
    font-family: Arial, Helvetica, sans-serif;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    line-height: 1.6;
}

button {
    background-color: rgb(151, 141, 128);
    border-radius: 10px;
    border-color: black;
    color: white;
}

#form-inscricao {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 100px;
    padding: 20px;
}

#desafio1 {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top: 20px;
    padding: 30px;
}

#desafio2 {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top:10px;
    padding: 30px;
    width: 300px;
}

#desafio3 {
    background-color: antiquewhite;
    border-radius: 10px;
    margin-top:10px;
    padding: 30px;
    width: 300px;
}